### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
resources/data/largeDG.txt
resources/data/largeEWG.txt
resources/data/largeEWD.txt
resources/data/largeG.txt
resources/data/leipzig1M.txt